.Color-picker-container{
    align-items: center;
    margin-top: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding:4px;
    border: 4px solid hsl(0, 1%, 37%);
    border-radius: 20px;
    margin:80px
}

.Color-picker-container:hover{
    background-color: antiquewhite;
    transition: 100ms;
}

.Color-picker-container input{
    margin-top: 10px;
    border: 1px solid gray;
    height: 35px;
    width: 90px;
    border-radius: 5px;
}

.heading{
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.color-picker-box{
    text-align: center;
    padding:100px;
    margin: 100px;
    border: 5px solid rgb(141, 141, 141);
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: hsl(0, 0%, 49%);
    font-size: 21px;
    box-shadow: 5px;
}

