.to-do-list{
    align-items: center;
    text-align: center;
    margin-top: 50px;
    border: 2.5px solid black;
    height: auto;
    align-self: center;
    background-image:url(./assets/image.png);
    image-orientation: flip;
    border-radius: 40px;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ol{
    text-align: center;
    padding:0;
    margin-left: 0;
}

.input-thing{
    height: 35px;
    width:300px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.input-thing:hover{
    background-color:hsl(0, 1%, 21%);
    color:azure;
}

.add-button{
    height: 35px;
    width:70px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: hsl(236, 100%, 49%);
    color:white;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.add-button:hover{
    opacity: 0.7;
    background-color:rgb(0, 247, 255) ;
    color:black;
}

ol{
    margin-top: 30px;
}

.text{
   flex:1;
}
li{
    border: 3px solid black;
    font-weight: bold;
    padding:15px;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-blend-mode: darken;
    border-radius: 20px;
    align-items: center;
    
}
.delete-button{
    height: 25px;
    margin-left:20px;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: red;
    color: white;
    border:2px solid black;
    border-radius: 5px;
    margin-right: 20px;
}

.move-button{
    background-color: aqua;
    border: 2px solid black;
    margin:5px;
    border-radius: 6px;
}

.delete-button,.move-button{
    cursor: pointer;
}